// Styling for dark-new
.content code
    color: #e09e39
    background-color: rgba(221, 147, 35, 0.1)

tr:nth-child(even)
    background-color: #3838388a

.custom-block.warning
    color: #d0d0d0

.custom-block.warning .custom-block-title
    color: #d0d0d0

.custom-block.tip
    background-color: #42b9835c